In [39]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.1'

In [40]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [41]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [42]:
len(df), df.shape

(9704, (9704, 11))

In [43]:
df['fuel_type'].nunique()

2

In [44]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [45]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [46]:
#Q6. Median value of horsepower
print('Original median: ', df.horsepower.median())
mode = df.horsepower.mode()[0]
print('Mode: ', mode)
df.horsepower = df.horsepower.fillna(mode)
print('New median: ', df.horsepower.median())

Original median:  149.0
Mode:  152.0
New median:  152.0

In [47]:
#Q7. Sum of weights
#Select all the cars from Asia
asia = df[df['origin'] == 'Asia']

#Select only columns vehicle_weight and model_year
asia = asia[['vehicle_weight',  'model_year']]
    
#Select the first 7 values
asia7 = asia[0:7]
print(asia7.shape)

#Get the underlying NumPy array. Let's call it X.
X = asia7.to_numpy()

#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X

#Invert XTX.
inv = np.linalg.inv(XTX)

y = [1100, 1300, 800, 900, 1000, 1100, 1200]

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = (inv @ X.T) @ y

#What's the sum of all the elements of the result?
print(sum(w))

(7, 2)
0.5187709081074016